body {
  background: dodgerblue;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

body main {
  display: flex;
  justify-content: center;
}

header {
  max-width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
}

body main .board {
  background: white;
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

body main .board .square {
  width: 25px;
  height: 25px;
  /* border: 1px solid lightgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.alien {
  width: 19px;
  height: 19px;
  background: red;
}

.player {
  width: 20px;
  height: 20px;
  background: orange;
}

  .laser {
  width: 5px;
  height: 10px;
  background: pink;
}

.alienAttack {
width: 5px;
height: 10px;
background: green;
}
