body {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-image: url('../images/space.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body main {
  display: flex;
  justify-content: center;
}

header {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  width: 200px;
  height: 200px;
  background-image: url('../images/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h2 {
  color: white;
}

body main .board {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

body main .board .square {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alien {
  width: 19px;
  height: 19px;
  background-image: url('../images/alien.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.player {
  width: 20px;
  height: 20px;
  /* background: orange; */
  background-image: url('../images/ship2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

  .laser {
  width: 20px;
  height: 20px;
  /* background: pink; */
  background-image: url('../images/laser.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.alienAttack {
width: 5px;
height: 10px;
/* background: green; */
background-image: url('../images/attack.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
