body {
  background: dodgerblue;
  box-sizing: border-box;

  main {
    display: flex;
    justify-content: center;


    .gameArea {
      background: white;
      display: flex;
      flex-wrap: wrap;
      width: 594px;

      .square {
        width: 50px;
        height: 50px;
        border: 2px solid lightgreen;
        display: flex;
        justify-content: center;
        align-items: center;

        .alien {
          width: 40px;
          height: 40px;
          // background: red;

        }

        .player {
          width: 40px;
          height: 40px;
          // background: purple;
          display: flex;
          align-items: center;
          justify-content: center;

          .laser {
            width: 10px;
            height: 30px;
            background: pink;
          }
        }
      }
    }
  }
}
